<div class="p-4">
    <h1>Employee Data CRUD</h1>
    <button class="btn btn-primary" (click)="onList()">List Employee</button>
    <div class="form-group p-3">
        <h1>{{(isEdit == true) ? 'Update Employee': 'Create Employee'}} {{this._id}}</h1>
        <label>Name</label>
        <input class="form-control" type="text" [(ngModel)]="name" />

        <label>Salary</label>
        <input type="text" class="form-control" [(ngModel)]="salary" />

        <label>Age</label>
        <input type="text" class="form-control" [(ngModel)]="age" />

        <label>Photo</label>
        <input type="text" class="form-control" [(ngModel)]="photo" />

        <button class="btn btn-primary m-2 p-2 " [ngClass]="isEdit == false ? '' : 'buttonDisabled'"
            (click)="onSubmit()">Submit</button>
        <button class="btn btn-primary m-2 p-2 " [ngClass]="isEdit == true ? '' : 'buttonDisabled'"
            (click)="onUpdate()">Update</button>
    </div>
</div>