<!-- <div class="p-3" style="border: 3px solid red;">
  <app-create-form (passMember)="onDataEntered($event)"></app-create-form>
  <div class="form-group p-3" >
    <div class="row">
      <div *ngFor="let member of filteredMembers">
        <app-card-details [cardMember]="member"></app-card-details>
      </div>
    </div>
  </div> 
</div>

<button (click)="previousPage()">Previous Page</button>
<label>{{pageNumber}}</label>
<button (click)="nextPage()">Next Page</button> -->
<!-- <app-filter></app-filter> -->
<!-- <button (click)="removeLCH()">Remove LCH component</button>
<div *ngIf="showLCH">
  <app-lch [showLCH]="showLCH"></app-lch>
</div> -->
<!-- <app-lch [showLCH]="showLCH"></app-lch> -->
<!-- <app-counter></app-counter> -->
<!-- <app-employee></app-employee> -->
<app-header></app-header>

<router-outlet></router-outlet>

<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>